.vs/
.github/
node_modules
dist
dist-ssr
*.local
data

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?
WebScrapping-Backend/src/**/bin/
WebScrapping-Backend/src/**/obj/
WebScrapping-Backend/src/WebScrapping.Infrastructure/obj/Debug/net6.0/WebScrapping.Infrastructure.sourcelink.json
