.vs/
.github/
node_modules
dist
dist-ssr
*.local
data

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?
WebScrapping-Backend/src/webscrapping.API/bin/
